.container {
            width: 85%;
            margin: 0 auto;
            padding: 20px;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-top: 40px;
            text-align: center;
        }

        h2 {
            text-align: center;
            color: #4A148C;
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: left;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input, .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .btn {
            background: #4A148C;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s, box-shadow 0.3s;
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
        }

        .btn:hover {
            background: green;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .btn-back {
            background: #4A148C;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s, box-shadow 0.3s;
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 20px;
        }

        .btn-back:hover {
            background: blue;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }