/* Ensure button text is not underlined */
button, .btn, .btn-table, .btn-cancel, .btn-cancel-table {
    text-decoration: none;
}

/* Common Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
}

h1, h2, h3 {
    text-align: center;
    color: #4A148C;
    font-weight: bold;
}

.form-group {
    margin: 20px 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #4A148C;
    font-weight: bold;
}

textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.btn {
    background: #4A148C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    display: block;
    margin: 20px auto 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center; /* Ensure text is centered */
}

.btn:hover {
    background: #6A1B9A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-cancel {
    background: #bbb;
}

.btn-cancel:hover {
    background: #999;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}
/* Alert Styles */
.alert {
    font-family: sans-serif;
    color: white;
    width: 78px;
    z-index: 1020;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    height: 78px;
    background-color: gray;
    transform: scale(0);
    transition: all .5s;
}

.alert.alert__active {
    opacity: 1;
    top: 20px;
    transform: scale(1);
}

.alert.alert__extended {
    width: 800px;
}

.alert.alert__extended .alert--content {
    opacity: 1;
    transition: all .5s;
}

.alert.alert__extended .alert--words {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    margin: auto 0;
    text-align: center;
}

.alert.error {
    background-color: #D64646;
}

.alert.success {
    background-color: #3CB971;
}

.alert .alert--content {
    padding: 10px;
    opacity: 0;
}

.alert .alert--words {
    font-size: 18px;
    font-weight: bold;
    padding: 0 18px;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    height: 30px;
    transition: all .3s;
    transition-delay: .5s;
    text-align: center;
    
}